
html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

h1{
    margin: 0;
    padding: 20px;
    border: gold 10px solid;
    background-color: black;
    color: white;
    text-align: center;
}

#flex-container{
    display: flex;
    align-items: stretch;
    background-color: #6a9cff;
    flex-grow : 1;
  }

#projects{
    background-color: blue;
    flex: 1 1 400px;
    min-width: 400px;
    max-width: 400px;
    padding-left: 10px;
   
}
#todo-container{
    background-color: aqua;
    flex: 5 2 auto;
}

#projects > p {
    font-size: 2rem;
}
#projects > p:hover{
    color: aliceblue;
    cursor:pointer;
} 



.todo{
  
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
    padding-left: 100px;
    border: white 1px solid;
    font-size: 3rem;
}

.todo > p,
.todo > h2{
    margin: 0;
    padding: 0;
}

.active{
    background-color: chocolate;
    color: beige;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content */
.modal-content {
    text-align: center;
  }

  /* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }

  .form-container{
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 25%;
    background-color: yellow;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  textarea { 
    resize: vertical; 
    height: 50px;
}